<% include partials/header %>

<div id="top"></div>

<header>
	<h2>Hopper's</h2>
	<nav>
		<li><a href="#about">About</a></li>
		<li><a href="#menu">Menu</a></li>
		<li><a href="#photos">Photos</a></li>
		<li><a href="#connect">Connect</a></li>
	</nav>
</header>

<section class="hero">
	<div class="background-image"></div>
	<div class="content-area">
		<h1>Hopper's</h1>
		<h3>Gainesville, Fl</h3>
		<div>
			<a href="#about" class="btn">About Us</a>
			<a href="#menu" class="btn">Menu</a>
		</div>
	</div>
	<div class="up" id="up-btn">
		<a href="#top"><i class="fas fa-arrow-up"></i></a>
	</div>
</section>

<div class="banner" id="about">
	<h1>About Us</h1>
</div>

<section class="about" id="aboutTrig">
	<div class="background-image"></div>
	<div class="about-content" id="about-content">
		<h2>Top Shelf Booze</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
		<p>Cheers!</p>
	</div>
</section>

<div class="banner" id="menu">
	<h1>Menu</h1>
</div>

<section class="menu">
	<img id="menuTrig" src="/imgs/hoopers_menu.jpg">
</section>

<div class="banner" id="photos">
	<h1>Photos</h1>
</div>

<section class="photos">
	<div class="grid">
		<li class="small" style="background-image: url(https://www.belushis.com/__data/assets/image/0014/501206/Amsterdam8.jpg)"></li>
		<li class="medium" style="background-image: url(https://media.wired.com/photos/59ee720a58c14975689669bd/master/w_2400,c_limit/drinking-TA.jpg)"></li>
		<li class="large" style="background-image: url(https://www.worcesternews.co.uk/resources/images/9099063/?type=responsive-gallery-fullscreen)"></li>
		<li class="small" style="background-image: url(https://www.top10berlin.de/sites/top10berlin.de/files/location/mainimages/2015/10/08/bar-ansicht_dpa.jpg)"></li>
		<li class="medium" style="background-image: url(https://ichef.bbci.co.uk/news/660/cpsprodpb/1589C/production/_95702288_mediaitem95702287.jpg)"></li>
		<li class="large" style="background-image: url(https://www.maxim.com/.image/t_share/MTQxNTYyMzY4MjMxNDgyOTgy/booze-promojpg.jpg)"></li>
		<li class="small" style="background-image: url(https://assets3.thrillist.com/v1/image/2780782/size/gn-gift_guide_variable_c.jpg)"></li>
		<li class="medium" style="background-image: url(https://media.wired.com/photos/5926ba4f8d4ebc5ab806b486/master/w_2400,c_limit/Booze-152406106.jpg)"></li>
		<li class="large" style="background-image: url(https://images1.houstonpress.com/imager/u/745xauto/9305558/hou_news_20170330_sarahtat.jpg)"></li>
	</div>
	<div class="photos-btn">
		<a href="" class="btn">Load More...</a>
		<a href="" class="btn"><i class="fab fa-instagram"></i> Follow on Instagram</a>	
	</div>
</section>

<div class="banner" id="connect">
	<h1>Connect</h1>
</div>

<section class="connect">
	<div>
		<form>
			<h3>Sign Up for Newsletter</h3>
			<h4>Name *</h4>
			<div class="name">
				<div>
					<input type="" name="">
					<p>First</p>
				</div>
				<div class="last">
					<input type="" name="">
					<p>Last</p>
				</div>
			</div>
			<div class="email">
				<h4>Email *</h4>
				<input type="" name="">
				<button>Submit</button>
			</div>
		</form>
	</div>
	<div>
		<h3>Location and Hours</h3>
		<p>info@hoppersbar.com</p>
		<p>Hopper's <br>18 SW 1st Ave <br>Gainesville, Fl 32601</p>
		<p>Open 4:00 PM - 2:00 AM</p>
	</div>
</section>

<section class="footer">
	<div>
		<p><i class="far fa-copyright"></i> 2019 Hopper's Bar</p>
	</div>
	<div>
		<i class="fab fa-facebook-f social"></i>
		<i class="fab fa-instagram social"></i>
	</div>
</section>

<% include partials/footer %>