<% include partials/header %>

<div id="top"></div>

<header>
	<h2>Hopper's</h2>
	<nav>
		<div><a href="#about">About</a></div>
		<div><a href="#menu">Menu</a></div>
		<div><a href="#photos">Photos</a></div>
		<div><a href="#connect">Connect</a></div>
	</nav>
</header>

<section class="hero">
	<div class="background-image"></div>
	<div class="content-area">
		<h1>Hopper's</h1>
		<h3>Gainesville, Fl</h3>
		<div>
			<a href="#about" class="btn">About Us</a>
			<a href="#menu" class="btn">Menu</a>
		</div>
	</div>
	<div class="up" id="up-btn">
		<a href="#top"><i class="fas fa-arrow-up"></i></a>
	</div>
</section>

<div class="banner" id="about">
	<h1>About Us</h1>
</div>

<section class="about" id="aboutTrig">
	<div class="background-image"></div>
	<div class="about-content" id="about-content">
		<h2>Top Shelf Booze</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
		<p>Cheers!</p>
	</div>
</section>

<div class="banner" id="menu">
	<h1>Menu</h1>
</div>

<section class="menu">
	<!-- <img id="menuTrig" src="/imgs/hoopers_menu.jpg"> -->
	<div class="menu-drinks" id="menuTrig">
		<div class="drink">
			<h2>Army Navy Surplus</h2>
			<p>navy strength gin, old tom gin, lemon, garam masala orgeat ... $9</p>
		</div>
		<div class="drink">
			<h2>West 81st</h2>
			<p>bourbon, bonded apple brandy, east india solera sherry, apple, angostura ... $12</p>
		</div>
		<div class="drink">
			<h2>Curious George</h2>
			<p>overproof rum, amaro meletti, banana liqueur, lime, fancy caramel syrup ... $10</p>
		</div>
		<div class="drink">
			<h2>Polar Digs</h2>
			<p>bonded bourbon, dubonnet rouge, allspice liqueur, coconut, cranberry ... $10</p>
		</div>
		<div class="drink">
			<h2>Trickshot</h2>
			<p>reposado tequila, fernet branca, orange, lemon, grenadine ... $8</p>
		</div>
		<div class="drink">
			<h2>Family Traditions</h2>
			<p>london dry gin, cocchi americano, cr&egrave;me de noyaux, lemon, pistachio, sage ... $10</p>
		</div>
		<div class="drink">
			<h2>Swizzle #27</h2>
			<p>genever, lucky falernum, grapefruit, lime, cinnamon, peychaud's bitters ... $11</p>
		</div>
		<div class="drink">
			<h2>Draft Punch</h2>
			<p>please ask your bartender for today's rotating special cocktail ... $8</p>
		</div>
		<div class="drink">
			<h2>Gwendolyn</h2>
			<p>new western gin, pineau des charentes, apricot liqueur, herbsaint ... $12</p>
		</div>
	</div>
</section>

<div class="banner" id="photos">
	<h1>Photos</h1>
</div>

<section class="photos">
	<div class="grid">
		<div class="small" style="background-image: url(/imgs/photos/bar_img1.jpg)"></div>
		<div class="medium" style="background-image: url(/imgs/photos/bar_img2.jpg)"></div>
		<div class="large" style="background-image: url(/imgs/photos/bar_img3.jpg)"></div>
		<div class="small" style="background-image: url(/imgs/photos/bar_img4.jpg)"></div>
		<div class="medium" style="background-image: url(/imgs/photos/bar_img5.jpg)"></div>
		<div class="large" style="background-image: url(/imgs/photos/bar_img6.jpg)"></div>
		<div class="small" style="background-image: url(/imgs/photos/bar_img7.jpg)"></div>
		<div class="medium" style="background-image: url(/imgs/photos/bar_img8.jpg)"></div>
		<div class="large" style="background-image: url(/imgs/photos/bar_img9.jpg)"></div>
	</div>
	<div class="photos-btn">
		<a href="" class="btn">Load More...</a>
		<a href="" class="btn"><i class="fab fa-instagram"></i> Follow on Instagram</a>	
	</div>
</section>

<div class="banner" id="connect">
	<h1>Connect</h1>
</div>

<section class="connect">
	<div>
		<form>
			<h3>Sign Up for Newsletter</h3>
			<h4>Name *</h4>
			<div class="name">
				<div>
					<input type="" name="">
					<p>First</p>
				</div>
				<div class="last">
					<input type="" name="">
					<p>Last</p>
				</div>
			</div>
			<div class="email">
				<h4>Email *</h4>
				<input type="" name="">
				<button>Submit</button>
			</div>
		</form>
	</div>
	<div>
		<h3>Location and Hours</h3>
		<p>info@hoppersbar.com</p>
		<p>Hopper's <br>99 SW 1st Ave <br>Gainesville, Fl 32601</p>
		<p>Open 4:00 PM - 2:00 AM</p>
	</div>
</section>

<section class="footer">
	<div>
		<p><i class="far fa-copyright"></i> 2019 Hopper's Bar</p>
	</div>
	<div>
		<i class="fab fa-facebook-f social"></i>
		<i class="fab fa-instagram social"></i>
	</div>
</section>

<% include partials/footer %>